# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.lock
*.ide
*.ide-shm
*.ide-wal
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/AlmostGETit/v15/.suo
C#/myFirstApp/.vs/myFirstApp/v15/.suo
